#week-compare-dashboard-tile{
  background-color: #F8F8F8;
  border-radius: .4rem;
  margin-bottom: 5%;
}

#google-charts-wrapper{
  margin: 0 auto;
}
#ComboChart1{
  margin: 0 auto;
}

#chart-dashboard-header{
  margin-left: 5%;
  color: #9ea3a6;
  padding-top: 2%;
}
