#add-a-workout{
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
}

#delete-workout-button{
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  width: 4rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
}

#add-new-workout-buttons{
  margin-left: 4px;
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  width: 4rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
}

#add-new-workout-buttons-submit-form{
  margin-left: 4px;
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  width: 4rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
}

#edit-workout-button{
  font-weight: bold;
  background-color: #347FB4;
  color: #F8F8F8;
  height: 2rem;
  width: 4rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
  margin-left: 4px;
}


#button-compare-week{
  margin-left: 25%;
}

.unselected-week-comparsion-button{
  font-weight: bold;
  background-color: #E7E7E7;
  color: #919290;
  height: 3rem;
  width: 6rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
  margin: 1%;
}

.unselected-week-comparsion-button:hover{
  background-color: #F74747;
}

.unselected-week-comparsion-button:focus{
  background-color: #F74747;
  outline: 0;
}

.new-team-button{
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
  margin-left: 2rem;
}

.new-team-button:hover{
  background-color: #E7E7E7;
}

.new-team-button:focus{
  background-color: #F74747;
  outline: 0;
}
.choose-existing-team:hover{
  background-color: #E7E7E7;
}

.choose-existing-team:focus{
  background-color: #F74747;
  outline: 0;
}

.choose-existing-team{
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
  margin-left: 4rem;
}

#new-team-cancel-button{
  font-weight: bold;
  background-color: #F74747;
  color: #F8F8F8;
  height: 2rem;
  text-align: center;
  padding: 0.3rem;
  font-size: .8rem;
  border-radius: .2rem;
}

#new-team-cancel:hover{
  background-color: #E7E7E7;
  outline: 0;
}

#new-team-cancel:focus{
  background-color: #F74747;
  outline: 0;
}
#join-team-button-collection{

}
