.current-week-tile {
    display: inline-block;
    background-color: #76c3d3;
    color: black;
    width: 12%;
    margin-right: 1rem;
    height: 400px;
    border: solid white;
}

.workout-text {
  background-color: #76c3d3;
}

.date-header {
  background-color: #3996aa;
}
.workout-tile {
  display: inline;
}

#current-week-header{
  color: white;
}

#team-list{
  margin: 1rem;
}
