@import 'containers/index';
@import 'containers/form';
@import 'containers/team';
@import 'containers/workout_forms';
@import 'containers/team_forms';

body {
  background-color: #DFDFDF;
  margin: auto !important;
  width: 90%;
  font-family: 'Roboto';
}

.week-container{
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  flex-direction: row;
}

// Form styling below
// dark grey color: #3f3f3f
