@import 'containers/index';
@import 'containers/form';
@import 'containers/team';
@import 'containers/workout_forms';
@import 'containers/team_forms';
@import 'containers/splash_page';
@import 'containers/top_bar';

body {
  background-color: #DFDFDF;
  margin: auto !important;
  width: 90%;
  font-family: 'Bitter', serif;
}

p, h1, h2, h3, h4, h5, h6, h7{
  font-family: 'Bitter', serif;
}

button{
  font-family: 'Bitter', serif;
}
// h1{
//   font-family: 'BioRhyme Expanded', serif;
// }
//
// h2 {
//   font-family: 'BioRhyme Expanded', serif;
// }
// h3 {
//   font-family: 'BioRhyme Expanded', serif;
// }
// h4 {
//   font-family: 'BioRhyme Expanded', serif;
// }


.week-container{
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  flex-direction: row;
}

// Form styling below
// dark grey color: #3f3f3f
